<div class="row">
  <% if player_game.title_found %>
    <div class="col-2 mx-5 poster">
        <%= image_tag "#{player_game.game.movie.poster}"%>
    </div>
  <% else %>
    <div class="mt-5 col-2 bggameboard mx-5 pt-3">
        <p class="text-center">Last five tries:</p>
        <ul>
          <% player_game.last_five_inputs.each_with_index do |input, index| %>
            <li><%= player_game.inputs.where(source: :input).count - index %> - <%= input.content %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%# <div> %>
    <%# <p>Hint: <%= player_game.game.movie.title</p> %>
  <%# </div> %>

  <div class="mt-5 bggameboard col-8" data-game-input-target="board">
      <% if player_game.title_found  %>
        <h2>Congratulations, you win!</h2>
        <h2>The title was: <%= player_game.game.movie.title %></h2>
      <% else %>
        <% if  @player_game.game.timer? %>
          <h2><%= player_game.hidden_title_timer  %></h2>
        <% else %>
          <h2><%= player_game.hidden_title  %></h2>
        <% end %>
      <% end %>
      <p><%= player_game.hidden_synopsis  %></p>
  </div>
</div>
