  <div class="mt-5">
    <p>Last five tries:</p>
    <ul>
      <% player_game.last_five_inputs.each_with_index do |input, index| %>
        <li><%= player_game.inputs.count - index %> - <%= input.content %></li>
      <% end %>
    </ul>
  </div>

  <div>
    <p>Hint: <%= player_game.game.movie.title %></p>
  </div>

  <div class="mt-5">
    <% if player_game.title_found  %>
      <h2>Congratulations, you win!</h2>
      <h2>The title was: <%= player_game.game.movie.title %></h2>
    <% else %>
      <h2><%= player_game.hidden_title  %></h2>
    <% end %>
    <p><%= player_game.hidden_synopsis  %></p>
  </div>
 </div>
