<div class="row mt-2 mx-0" >
  <% if player_game.title_found %>
    <div class="col-2 poster">
       <%= image_tag "#{player_game.game.movie.poster}"%>
    </div>
  <% else %>
    <div class="col-2">
      <div class= "bginputs">
        <p class="text-center">Last five tries:</p>
        <ul>
          <% player_game.last_five_inputs.each_with_index do |input, index| %>
            <li><%= player_game.inputs.where(source: :input).count - index %> - <%= input.content %></li>
          <% end %>
        </ul>
      </div>

    </div>
  <% end %>

  <div class="p-3 bggameboard col-8 <%='opacity-25' if (player_game.title_found || player_game.lose) %>" data-game-input-target="board">
      <% if player_game.title_found  %>
        <h2>Congratulations, you win! You scored <%= player_game.final_score %> points ! <i class="fa-solid fa-trophy"></i></h2>
        <h2>The title was: <%= player_game.game.movie.title %></h2>
      <% elsif player_game.lose %>
        <h2>You lose! 😞</h2><br>
        <h2>The title was: <%= player_game.game.movie.title %></h2>
      <% else %>
        <% if  @player_game.game.timer? %>
          <h2><%= player_game.hidden_title_timer  %></h2>
        <% else %>
          <h2><%= player_game.hidden_title  %></h2>
        <% end %>
      <% end %>
      <p><%= player_game.hidden_synopsis  %></p>
  </div>
  <div class="col-2">
  <% if  @player_game.game.input? %>
    <div class="hint">

      <div class="btn-small-grey" data-action="click->game-input#getHint">Get Hint</div>
        <div style='color: black;'>
          <ul class="mt-3 d-flex flex-column justify justify-content-center">
            <li><p data-game-input-target="first"></p></li>
            <li><p data-game-input-target="second"></p></li>
            <li><p data-game-input-target="third"></p></li>
            <span data-game-input-target="noMoreHints"></span>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if player_game.game.movie.trailer && player_game.title_found %>
    <iframe class="zindexbg" id="trailer-wrapper" src="<%=player_game.game.movie.trailer%>;&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </iframe>
<% end %>
