<div class="gamebg"
  data-controller="game-input"
  data-game-input-gametype-value="<%= @player_game.game.game_type %>"
  data-game-input-timerpath-value="<%= player_game_timers_path(@player_game) %>"
  data-game-input-numwords-value="<%= @player_game.words.keys.count %>"

>

 <div class="row">
    <div class="col-2 mx-5">
    </div>

    <div class="col-8 p-0 mt-3 flex-column">
      <h2>Find the movie</h2>
      <p><%= "Find the title of the movie, a new word will be displayed every 3 seconds" if @player_game.game.timer? %></p>
      <p><%= "Type words to reveal the synopsis and discover the movie" if @player_game.game.input? %></p>
      <%= render "form_input", player_game: @player_game, input: @input %>
    </div>
    <div class="col-2">
      <% if @player_game.game.timer? %>
        <div data-game-input-target="timer"></div>
      <% end %>
    </div>
  </div>

 <div class="row">
    <div class="col col-12">
      <div data-game-input-target="gameContent">
        <%= render "game_content", player_game: @player_game %>
      </div>
    </div>
 </div>
</div>
