<div class="gamebg"
  data-controller="game-input"
  data-game-input-gametype-value="<%= @player_game.title_found || @player_game.lose ? nil : @player_game.game.game_type %>"
  data-game-input-timerpath-value="<%= player_game_timers_path(@player_game) %>"
  data-game-input-numwords-value="<%= @player_game.words.keys.count %>"
  data-game-input-first-value="<%=@player_game.game.movie.hint_1 %>"
  data-game-input-second-value="<%=@player_game.game.movie.hint_2 %>"
  data-game-input-third-value="<%=@player_game.game.movie.hint_3 %>"

>

 <div class="row">
    <div class="col-2">
    </div>

    <div class="col-8 mt-3">
      <h2 class="game-center game-title">What's the movie?</h2>
      <p class="game-center"><%= "Find the title of the movie, a new word will be displayed every 3 seconds" if @player_game.game.timer? %></p>
      <p class="game-center"><%= "Type words to reveal the synopsis and discover the movie" if @player_game.game.input? %></p>
      <%= render "form_input", player_game: @player_game, input: @input %>
    </div>
    <div class="col-2">
      <div class="d-flex align-items-center justify-content-center">
        <% if @player_game.game.timer? %>
          <div data-game-input-target="timer"></div>
        <% end %>
      </div>
    </div>
  </div>

 <div class="row">
    <div data-game-input-target="gameContent">
      <%= render "game_content", player_game: @player_game %>

    </div>
 </div>

</div>
