<div class="container py-5">
  <h1 class="d-flex align-items-center justify-content-center py-5">Choose your category</h1>

  <div class='d-flex py-5 carousel leftscroll' data-controller="categories">
    <% Category.all.each.with_index do |category, index| %>
      <div data-action="click->categories#darken" data-categories-target="gradient" class="linear-gradient card-wrapper">
        <div class="card d-flex align-items-center justify-content-center" style="background-image: url(<%=cl_image_path category.photo.key %>);"
            data-action="click->categories#select" data-number="<%= category.id %>" data-categories-target="card">
          <%= category.name %>
        </div>
      </div>
    <%end%>
  </div>

  <%= simple_form_for [@player_game], html: {class: "d-flex align-items-center justify-content-center"} do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="d-none">
      <%= f.input :category,
                as: :radio_buttons,
                input_html: {class: 'category-selector'},
                collection: Category.all %>
    </div>

    <%= f.submit "Start the game", class: "btn" %>
  <% end %>
</div>
 <script src="carousel_left.js"></script>
 <script src="carousel_right.js"></script>
